body {
    background-image: url(img/lune.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px 30px;
}

h1 {
    text-align: center;
}

.prez {
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 30px;
}