body {
    background-image: url(img/lune.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 20px 30px;
    margin: 0;
}

.paimon > img {
    height: 10px;
    width: auto;
}

.paimon {
    position: absolute;
}

h1 {
    text-align: center;
}

h1 > a,
.dish > a{
    color: #fff;
    text-decoration: none;
}

h1 > a:hover {
    color: #ecdfd4;
}

.prez {
    display: flex;
    align-items: center;
    border-radius: 0px 30px 0px 30px;
    background-color: rgba(0, 0, 0, 0.201);
    backdrop-filter: blur(5px);
    padding: 10px 0px;
	text-align: justify;
}

.texte {
	padding: 5%;
}
.star:hover {
    color: rgb(255, 249, 183);
}

.anemo:hover {
    color: #a6f3cc;
}

.inazuma:hover {
    color: #8076a5;
}

.dish > a:hover {
    color: #dcc19c;
}

/*********** RESPONSIVE DESIGN ***********/ 
/* changer de forme selon l'appareil */
@media screen and (max-width : 680px){

	body {
		background-image: url(img/luneB.jpg);
	}

	.prez {
		display: flex;
		align-items: center;
		flex-direction: column;
		border-radius: 30px 0px 30px 0px;
		background-color: rgba(0, 0, 0, 0.201);
		backdrop-filter: blur(5px);
		padding: 10px 0px;
	}

}