body {
    background-image: url(img/lune.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 20px 30px;
    margin: 0;
}

h1 {
    text-align: center;
}

h1 > a {
    color: #fff;
    text-decoration: none;
}

h1 > a:hover {
    color: #ecdfd4;
}

.prez {
    display: flex;
    align-items: center;
    border-radius: 0px 30px 0px 30px;
    background-color: rgba(0, 0, 0, 0.201);
    backdrop-filter: blur(5px);
    padding: 10px 0px;
}

.star:hover {
    color: rgb(255, 249, 183);
}

.anemo:hover {
    color: #a6f3cc;
}

.inazuma:hover {
    color: #d6a6eb;
}